.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 0 1em;

    .link {
        margin: 1em 0.5em;

        &:last-child {
            margin-right: 0;
        }

        button {
            color: white;
        }
    }
}

.example-spacer {
    flex: 1 1 auto;
  }