<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Game-ORM</span>
    <span class="example-spacer"></span>
    <div class="actions">
        <div class="link">
            <button mat-stroked-button [routerLink]="'themes'">Themes</button>
        </div>
        <div class="link">
            <button mat-stroked-button [routerLink]="'tags'">Tags</button>
        </div>
    </div>
  </mat-toolbar>