.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 0 1em;

    .link {
        margin: 1em;

        &:first-child {
            margin: 0;
        }
    }
}

.example-spacer {
    flex: 1 1 auto;
  }